
@{
    ViewBag.Title = "ChangePasswordSuccess";
}

<div id="contentarea">
    <div id="contentfluid">

        <h2>Change Password Success</h2>

        <h3>
            Your password has been changed. Click @Html.ActionLink("here", "Login", "Account", new { Area = "UserProfile" })
        </h3>
    </div>
    <br clear="all" />
</div>	
