@using Core.Web.Extensions
<div class="footer" style="background-color: transparent; color:#000000; font:bold;">

    <div>
        <span>
            @DefaultSettings.Instance.ApplicationCopyright 
        </span> @DefaultSettings.Instance.ApplicationDisplayName
    </div>
    
</div>
