@using Core.Web.Extensions

@{

}
<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <div class="slimScrollDiv">
        <div class="sidebar-inner slimscrollleft">
            <!--- Divider -->
            <div id="sidebar-menu">
                <input type="hidden" value="@User.Identity.Name" id="user_type_defination" />
                <ul class="list-unstyled components">
                    <li class="text-muted menu-title">Navigation Menus</li>

                    <li class="@Html.IsSelected(controller: "Dashboard")">
                        <a href="@Url.Action("Dashboard", "Dashboard", new { Area = "" })"><i class="fa fa-bar-dashboard"></i> <span class="nav-label" data-i18n="nav.metrics">Dashboard</span> </a>
                    </li>
                    <li>

                        <a class="waves-effect" href="@Url.Action("Login", "Account", new {Area = ""})">
                            <i class="fa fa-sign-out m-r-10 text-danger"></i><span> Logout</span>
                        </a>
                    </li>

                </ul>

                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- Sidebar -->
</div>